.bi-list-nested::before {
  transform: rotateY(180deg);
}

.scroll {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  text-align: center;
  margin: 20px 0;
  padding: 6px;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.Light,
.Dark {
  min-height: 100vh;
}

a {
  font-size: 20px;
  text-decoration: none;
}

h1 {
  font-family: "Dancing Script", cursive;
}

.img-thumbnail {
  background-color: transparent;
  border: none;
}

h2 {
  font-family: "Cinzel", serif;
  margin-top: 24px;
}
.fst-italic {
  font-family: "Cinzel", serif;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav-item {
  border-right: 2px solid;
  border-radius: 0;
  padding: 2px 17px;
}

.nav-item:last-child {
  border: none;
}

.carousel-inner,
.carousel-caption {
  text-align: center;
}

.carousel-item > img {
  margin: 0 auto;
  max-height: 500px !important;
  width: auto;
}

.para:first-child::first-letter {
  font-size: 45px;
  font-family: "Dancing Script", cursive;
}

.para {
  font-family: "PT Sans", sans-serif;
  text-indent: 20px;
  margin: 23px 0;
  font-size: 17px;
  padding: 0 5vw;
}

li {
  list-style-image: url(./pen.svg);
}

li span {
  position: relative;
  font-size: 17px;
  bottom: 4px;
  left: 4px;
}

ul {
  margin-left: 69px;
}

.body > div > img {
  padding: 0px 10vw;
  max-height: 40vw;
}

figure {
  margin: 23px 95px;
  padding-left: 20px;
}

img[alt="logo"] {
  width: 83px;
  position: absolute;
  top: 3px;
  left: 148px;
}

@media (max-width: 750px) {
  .body > div > img {
    padding: 0;
  }
  ul {
    margin-left: 43px;
  }
}

footer {
  min-height: 200px;
}
