$white: #ece8e8;
$black: #2e2d2d;
$black-top: #383838;
$white-top: #cecece;
$primary-light: #ffba04;
$primary-dark: #d4ac0d;

.Dark {
  transition-duration: 0.4s;
  $primary: $primary-light;
  background-color: $black;
  color: $white;
  nav {
    background-color: $black;
  }
  .scroll::-webkit-scrollbar-track {
    background: $black;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: $primary;
    &:hover {
      background: $primary-dark;
    }
  }
  p {
    color: $white;
  }
  .btn {
    background-color: $black;
    color: $white;
  }
  .nav-item {
    border-right-color: $primary;
  }
  .fst-italic,
  li::marker,
  .bi,
  a {
    color: $primary;
  }
  .body {
    .btn {
      border: $primary 2px solid;
      &:hover {
        background-color: $primary;
        .bi {
          color: $black;
        }
      }
    }
  }
  .newsBox div {
    background-color: $black-top;
    &:hover {
      background-color: $primary;
    }
  }
  footer {
    background-color: $black-top;
  }
  figure {
    border-left: $black-top 34px solid;
  }
}

.Light {
  nav {
    background-color: $white;
  }
  transition-duration: 0.4s;
  $primary: $primary-dark;
  background-color: #ece8e8;
  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  .scroll::-webkit-scrollbar-thumb {
    background: $primary;
    &:hover {
      background: $primary-light;
    }
  }
  .nav-item {
    border-right-color: $primary;
  }
  .carousel-inner {
    background-color: $black;
  }
  .body {
    .btn {
      border: $primary 2px solid;
      &:hover {
        background-color: $primary;
        .bi {
          color: $white;
        }
      }
    }
  }
  .fst-italic,
  li::marker,
  .bi,
  a {
    color: $primary;
  }
  .newsBox div {
    background-color: $white-top;
    &:hover {
      background-color: $primary;
    }
  }
  footer {
    background-color: $white-top;
  }
  figure {
    border-left: $white-top 34px solid;
  }
}
